---
Checks: "readability-identifier-naming"
WarningsAsErrors: true
CheckOptions:
    - key: readability-identifier-naming.LocalVariableCase
      value: camelBack
    - key: readability-identifier-naming.NamespaceCase
      value: lower_case
    - key: readability-identifier-naming.MacroDefinitionCase
      value: UPPER_CASE
    - key: readability-identifier-naming.ClassMemberCase
      value: camelBack
    - key: readability-identifier-naming.ClassMemberPrefix
      value: m_
    - key: readability-identifier-naming.StaticVariableCase
      value: camelBack
    - key: readability-identifier-naming.StaticVariablePrefix
      value: s_
