---
BasedOnStyle: Microsoft
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
    AfterFunction: false
    AfterControlStatement: Never
